{
  "openapi": "3.0.3",
  "info": {
    "title": "HEA - Terminologie et codification (PT-07)",
    "description": "Profil PT-07 — Terminologie et codification. 4 transactions.",
    "version": "0.4",
    "contact": {
      "name": "DEPSI - Madagascar"
    }
  },
  "servers": [
    {
      "url": "https://terminology.health.mg/fhir",
      "description": "Service terminologique national (SVCM)"
    }
  ],
  "paths": {
    "/ValueSet/$expand": {
      "get": {
        "operationId": "pt07valueset_expand",
        "summary": "T1 — Expansion d’un ensemble de valeurs",
        "description": "T1 — Expansion d’un ensemble de valeurs (IHE SVCM (ITI-95))",
        "tags": [
          "SVCM"
        ],
        "responses": {
          "200": {
            "description": "Succès",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValueSet"
                }
              }
            }
          },
          "400": {
            "description": "Requête invalide"
          },
          "401": {
            "description": "Authentification requise"
          },
          "500": {
            "description": "Erreur serveur"
          }
        }
      }
    },
    "/CodeSystem/$lookup": {
      "get": {
        "operationId": "pt07codesystem_lookup",
        "summary": "T2 — Recherche/consultation d’un code",
        "description": "T2 — Recherche/consultation d’un code (IHE SVCM (ITI-96))",
        "tags": [
          "SVCM"
        ],
        "responses": {
          "200": {
            "description": "Succès",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CodeSystem"
                }
              }
            }
          },
          "400": {
            "description": "Requête invalide"
          },
          "401": {
            "description": "Authentification requise"
          },
          "500": {
            "description": "Erreur serveur"
          }
        }
      }
    },
    "/ValueSet/$validate-code": {
      "get": {
        "operationId": "pt07valueset_validate",
        "summary": "T3 — Validation d’un code",
        "description": "T3 — Validation d’un code (IHE SVCM (ITI-97))",
        "tags": [
          "SVCM"
        ],
        "responses": {
          "200": {
            "description": "Succès",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValueSet"
                }
              }
            }
          },
          "400": {
            "description": "Requête invalide"
          },
          "401": {
            "description": "Authentification requise"
          },
          "500": {
            "description": "Erreur serveur"
          }
        }
      }
    },
    "/ConceptMap/$translate": {
      "get": {
        "operationId": "pt07conceptmap_translate",
        "summary": "T4 — Traduction entre systèmes de codes",
        "description": "T4 — Traduction entre systèmes de codes (IHE SVCM (ITI-98))",
        "tags": [
          "SVCM"
        ],
        "responses": {
          "200": {
            "description": "Succès",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConceptMap"
                }
              }
            }
          },
          "400": {
            "description": "Requête invalide"
          },
          "401": {
            "description": "Authentification requise"
          },
          "500": {
            "description": "Erreur serveur"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CodeSystem": {
        "type": "object",
        "properties": {
          "resourceType": {
            "type": "string",
            "const": "CodeSystem"
          },
          "id": {
            "type": "string",
            "description": "Identifiant logique de la ressource"
          },
          "meta": {
            "type": "object",
            "properties": {
              "versionId": {
                "type": "string"
              },
              "lastUpdated": {
                "type": "string",
                "format": "date-time"
              },
              "profile": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "ConceptMap": {
        "type": "object",
        "properties": {
          "resourceType": {
            "type": "string",
            "const": "ConceptMap"
          },
          "id": {
            "type": "string",
            "description": "Identifiant logique de la ressource"
          },
          "meta": {
            "type": "object",
            "properties": {
              "versionId": {
                "type": "string"
              },
              "lastUpdated": {
                "type": "string",
                "format": "date-time"
              },
              "profile": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "ValueSet": {
        "type": "object",
        "properties": {
          "resourceType": {
            "type": "string",
            "const": "ValueSet"
          },
          "id": {
            "type": "string",
            "description": "Identifiant logique de la ressource"
          },
          "meta": {
            "type": "object",
            "properties": {
              "versionId": {
                "type": "string"
              },
              "lastUpdated": {
                "type": "string",
                "format": "date-time"
              },
              "profile": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Bundle": {
        "type": "object",
        "properties": {
          "resourceType": {
            "type": "string",
            "const": "Bundle"
          },
          "id": {
            "type": "string",
            "description": "Identifiant logique de la ressource"
          },
          "meta": {
            "type": "object",
            "properties": {
              "versionId": {
                "type": "string"
              },
              "lastUpdated": {
                "type": "string",
                "format": "date-time"
              },
              "profile": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "x-hea-id": "PT-07",
  "x-hea-title": "Terminologie et codification",
  "x-hea-version": "0.4",
  "x-hea-type": "profil-technique",
  "x-hea-maps-to": [
    "CAP-INT-05"
  ],
  "x-hea-implements": [
    "ART-2",
    "ART-4",
    "ART-5"
  ],
  "x-hea-applies-to": [
    "CMP-10"
  ],
  "x-hea-source": "referentiel/profils/pt-07.md",
  "x-hea-fhir-resources": [
    "CodeSystem",
    "ConceptMap",
    "ValueSet"
  ],
  "x-hea-data-objects": [],
  "x-hea-file": "referentiel/profils/pt-07.md"
}