{
  "openapi": "3.0.3",
  "info": {
    "title": "HEA - Registre des professionnels (PT-05)",
    "description": "Profil PT-05 — Registre des professionnels. 3 transactions.",
    "version": "0.4",
    "contact": {
      "name": "DEPSI - Madagascar"
    }
  },
  "servers": [
    {
      "url": "https://fhir.health.mg/fhir",
      "description": "Point d'accès FHIR national - professionnels"
    }
  ],
  "paths": {
    "/Organization": {
      "get": {
        "operationId": "pt05organization_search",
        "summary": "T1 — Recherche de ressources (organisation, localisation, service, professionnel)",
        "description": "T1 — Recherche de ressources (organisation, localisation, service, professionnel) — Consommateur → Registre (R/O : R). Standard : IHE mCSD (ITI-90)",
        "tags": [
          "Organization"
        ],
        "responses": {
          "200": {
            "description": "Succès",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bundle"
                }
              }
            }
          },
          "400": {
            "description": "Requête invalide"
          },
          "401": {
            "description": "Authentification requise"
          },
          "500": {
            "description": "Erreur serveur"
          }
        },
        "parameters": [
          {
            "name": "identifier",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Identifiant"
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Nom / libellé"
          }
        ]
      }
    },
    "/token": {
      "post": {
        "operationId": "pt05token_authorize",
        "summary": "T3 — Autorisation d’accès",
        "description": "T3 — Autorisation d’accès (IHE IUA)",
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "Succès",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Token"
                }
              }
            }
          },
          "400": {
            "description": "Requête invalide"
          },
          "401": {
            "description": "Authentification requise"
          },
          "500": {
            "description": "Erreur serveur"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Organization": {
        "type": "object",
        "properties": {
          "resourceType": {
            "type": "string",
            "const": "Organization"
          },
          "id": {
            "type": "string",
            "description": "Identifiant logique de la ressource"
          },
          "meta": {
            "type": "object",
            "properties": {
              "versionId": {
                "type": "string"
              },
              "lastUpdated": {
                "type": "string",
                "format": "date-time"
              },
              "profile": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Bundle": {
        "type": "object",
        "properties": {
          "resourceType": {
            "type": "string",
            "const": "Bundle"
          },
          "id": {
            "type": "string",
            "description": "Identifiant logique de la ressource"
          },
          "meta": {
            "type": "object",
            "properties": {
              "versionId": {
                "type": "string"
              },
              "lastUpdated": {
                "type": "string",
                "format": "date-time"
              },
              "profile": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "DO23": {
        "$ref": "https://healmadagascar.mg/schemas/payloads/do-23.json"
      }
    }
  },
  "x-hea-id": "PT-05",
  "x-hea-title": "Registre des professionnels",
  "x-hea-version": "0.4",
  "x-hea-type": "profil-technique",
  "x-hea-maps-to": [
    "CAP-INT-02"
  ],
  "x-hea-implements": [
    "ART-4",
    "ART-4A",
    "ART-7",
    "ART-4C"
  ],
  "x-hea-applies-to": [
    "CMP-13"
  ],
  "x-hea-source": "referentiel/profils/pt-05.md",
  "x-hea-fhir-resources": [
    "Organization"
  ],
  "x-hea-data-objects": [
    "DO-23"
  ],
  "x-hea-file": "referentiel/profils/pt-05.md"
}