{
  "openapi": "3.0.3",
  "info": {
    "title": "HEA - Échange de données agrégées (PT-08)",
    "description": "Profil PT-08 — Échange de données agrégées. 3 transactions.",
    "version": "0.4",
    "contact": {
      "name": "DEPSI - Madagascar"
    }
  },
  "servers": [
    {
      "url": "https://fhir.health.mg/fhir",
      "description": "Point d'accès FHIR national - données agrégées"
    }
  ],
  "paths": {
    "/MeasureReport": {
      "post": {
        "operationId": "pt08measurereport_create",
        "summary": "T1 — Soumission de rapport agrégé",
        "description": "T1 — Soumission de rapport agrégé — Déclarant → Récepteur (R/O : R). Standard : IHE mADX (ITI-73)",
        "tags": [
          "MeasureReport"
        ],
        "responses": {
          "200": {
            "description": "Succès",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeasureReport"
                }
              }
            }
          },
          "400": {
            "description": "Requête invalide"
          },
          "401": {
            "description": "Authentification requise"
          },
          "500": {
            "description": "Erreur serveur"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MeasureReport"
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "MeasureReport": {
        "type": "object",
        "properties": {
          "resourceType": {
            "type": "string",
            "const": "MeasureReport"
          },
          "id": {
            "type": "string",
            "description": "Identifiant logique de la ressource"
          },
          "meta": {
            "type": "object",
            "properties": {
              "versionId": {
                "type": "string"
              },
              "lastUpdated": {
                "type": "string",
                "format": "date-time"
              },
              "profile": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Bundle": {
        "type": "object",
        "properties": {
          "resourceType": {
            "type": "string",
            "const": "Bundle"
          },
          "id": {
            "type": "string",
            "description": "Identifiant logique de la ressource"
          },
          "meta": {
            "type": "object",
            "properties": {
              "versionId": {
                "type": "string"
              },
              "lastUpdated": {
                "type": "string",
                "format": "date-time"
              },
              "profile": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "DO28": {
        "$ref": "https://healmadagascar.mg/schemas/payloads/do-28.json"
      }
    }
  },
  "x-hea-id": "PT-08",
  "x-hea-title": "Échange de données agrégées",
  "x-hea-version": "0.4",
  "x-hea-type": "profil-technique",
  "x-hea-maps-to": [
    "CAP-INT-03",
    "CAP-INT-07"
  ],
  "x-hea-implements": [
    "ART-1",
    "ART-2",
    "ART-5",
    "ART-6"
  ],
  "x-hea-applies-to": [
    "CMP-03",
    "CMP-06"
  ],
  "x-hea-source": "referentiel/profils/pt-08.md",
  "x-hea-fhir-resources": [
    "MeasureReport"
  ],
  "x-hea-data-objects": [
    "DO-28"
  ],
  "x-hea-file": "referentiel/profils/pt-08.md"
}