{
  "openapi": "3.0.3",
  "info": {
    "title": "HEA - Éligibilité et couverture (PT-20)",
    "description": "Profil PT-20 — Éligibilité et couverture. 4 transactions.",
    "version": "0.4",
    "contact": {
      "name": "DEPSI - Madagascar"
    }
  },
  "servers": [
    {
      "url": "https://coverage.health.mg/fhir",
      "description": "Registre national d'éligibilité et de couverture"
    }
  ],
  "paths": {
    "/Coverage": {
      "get": {
        "operationId": "pt20coverage_search",
        "summary": "T1 — Consultation d'une couverture",
        "description": "T1 — Consultation d'une couverture — Application métier → Registre d'éligibilité (R/O : R). Standard : FHIR R4 `Coverage` search (`beneficiary` ou `patient`, `identifier`)",
        "tags": [
          "Coverage"
        ],
        "responses": {
          "200": {
            "description": "Succès",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bundle"
                }
              }
            }
          },
          "400": {
            "description": "Requête invalide"
          },
          "401": {
            "description": "Authentification requise"
          },
          "500": {
            "description": "Erreur serveur"
          }
        },
        "parameters": [
          {
            "name": "identifier",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Identifiant métier de Coverage (recherche FHIR token : system|value)"
          },
          {
            "name": "beneficiary",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Bénéficiaire (Coverage.beneficiary) ; recherche FHIR reference",
            "example": "Patient/123"
          },
          {
            "name": "patient",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Patient couvert (Coverage.beneficiary) ; recherche FHIR reference",
            "example": "Patient/123"
          }
        ]
      }
    },
    "/CoverageEligibilityRequest": {
      "post": {
        "operationId": "pt20coverageeligibilityrequest_create",
        "summary": "T2 — Demande de vérification des droits",
        "description": "T2 — Demande de vérification des droits — Application métier → Registre d'éligibilité (R/O : R). Standard : FHIR R4 `CoverageEligibilityRequest`",
        "tags": [
          "CoverageEligibilityRequest"
        ],
        "responses": {
          "400": {
            "description": "Requête invalide"
          },
          "401": {
            "description": "Authentification requise"
          },
          "500": {
            "description": "Erreur serveur"
          },
          "201": {
            "description": "Ressource créée (représentation selon Prefer)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoverageEligibilityRequest"
                }
              }
            },
            "headers": {
              "Location": {
                "required": true,
                "description": "Référence de la ressource créée : [base]/CoverageEligibilityRequest/[id]/_history/[vid] (ou [base]/CoverageEligibilityRequest/[id] sans versionnement)",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CoverageEligibilityRequest"
              }
            }
          }
        }
      }
    },
    "/CoverageEligibilityResponse": {
      "get": {
        "operationId": "pt20coverageeligibilityresponse_search",
        "summary": "T3 — Réponse d'éligibilité",
        "description": "T3 — Réponse d'éligibilité — Registre d'éligibilité → Application métier (R/O : R). Standard : FHIR R4 `CoverageEligibilityResponse` search (`request`, `patient`, `identifier`)",
        "tags": [
          "CoverageEligibilityResponse"
        ],
        "responses": {
          "200": {
            "description": "Succès",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bundle"
                }
              }
            }
          },
          "400": {
            "description": "Requête invalide"
          },
          "401": {
            "description": "Authentification requise"
          },
          "500": {
            "description": "Erreur serveur"
          }
        },
        "parameters": [
          {
            "name": "identifier",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Identifiant métier de CoverageEligibilityResponse (recherche FHIR token : system|value)"
          },
          {
            "name": "request",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Demande corrélée (CoverageEligibilityResponse.request) ; recherche FHIR reference",
            "example": "CoverageEligibilityRequest/123"
          },
          {
            "name": "patient",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Patient (CoverageEligibilityResponse.patient) ; recherche FHIR reference",
            "example": "Patient/123"
          }
        ]
      }
    },
    "/InsurancePlan": {
      "get": {
        "operationId": "pt20insuranceplan_search",
        "summary": "T4 — Consultation d'un régime de couverture",
        "description": "T4 — Consultation d'un régime de couverture — Application métier → Registre d'éligibilité (R/O : O). Standard : FHIR R4 `InsurancePlan` search",
        "tags": [
          "InsurancePlan"
        ],
        "responses": {
          "200": {
            "description": "Succès",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bundle"
                }
              }
            }
          },
          "400": {
            "description": "Requête invalide"
          },
          "401": {
            "description": "Authentification requise"
          },
          "500": {
            "description": "Erreur serveur"
          }
        },
        "parameters": [
          {
            "name": "identifier",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Identifiant"
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Nom / libellé"
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Coverage": {
        "type": "object",
        "properties": {
          "resourceType": {
            "type": "string",
            "enum": [
              "Coverage"
            ]
          },
          "id": {
            "type": "string",
            "description": "Identifiant logique de la ressource"
          },
          "meta": {
            "type": "object",
            "properties": {
              "versionId": {
                "type": "string"
              },
              "lastUpdated": {
                "type": "string",
                "format": "date-time"
              },
              "profile": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "CoverageEligibilityRequest": {
        "type": "object",
        "properties": {
          "resourceType": {
            "type": "string",
            "enum": [
              "CoverageEligibilityRequest"
            ]
          },
          "id": {
            "type": "string",
            "description": "Identifiant logique de la ressource"
          },
          "meta": {
            "type": "object",
            "properties": {
              "versionId": {
                "type": "string"
              },
              "lastUpdated": {
                "type": "string",
                "format": "date-time"
              },
              "profile": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "CoverageEligibilityResponse": {
        "type": "object",
        "properties": {
          "resourceType": {
            "type": "string",
            "enum": [
              "CoverageEligibilityResponse"
            ]
          },
          "id": {
            "type": "string",
            "description": "Identifiant logique de la ressource"
          },
          "meta": {
            "type": "object",
            "properties": {
              "versionId": {
                "type": "string"
              },
              "lastUpdated": {
                "type": "string",
                "format": "date-time"
              },
              "profile": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "InsurancePlan": {
        "type": "object",
        "properties": {
          "resourceType": {
            "type": "string",
            "enum": [
              "InsurancePlan"
            ]
          },
          "id": {
            "type": "string",
            "description": "Identifiant logique de la ressource"
          },
          "meta": {
            "type": "object",
            "properties": {
              "versionId": {
                "type": "string"
              },
              "lastUpdated": {
                "type": "string",
                "format": "date-time"
              },
              "profile": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Bundle": {
        "type": "object",
        "properties": {
          "resourceType": {
            "type": "string",
            "enum": [
              "Bundle"
            ]
          },
          "id": {
            "type": "string",
            "description": "Identifiant logique de la ressource"
          },
          "meta": {
            "type": "object",
            "properties": {
              "versionId": {
                "type": "string"
              },
              "lastUpdated": {
                "type": "string",
                "format": "date-time"
              },
              "profile": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "DO15": {
        "$ref": "https://healmadagascar.mg/schemas/payloads/do-15.json"
      },
      "DO14": {
        "$ref": "https://healmadagascar.mg/schemas/payloads/do-14.json"
      },
      "DO17": {
        "$ref": "https://healmadagascar.mg/schemas/payloads/do-17.json"
      }
    }
  },
  "x-hea-id": "PT-20",
  "x-hea-title": "Éligibilité et couverture",
  "x-hea-version": "0.4",
  "x-hea-type": "profil-technique",
  "x-hea-maps-to": [
    "ABB-ELIGIBILITE-COUVERTURE",
    "CAP-07"
  ],
  "x-hea-implements": [
    "ART-4C",
    "ART-9"
  ],
  "x-hea-applies-to": [
    "CMP-12"
  ],
  "x-hea-source": "04_architecture-repository/05_building-blocks/sbb/legacy-profiles/pt-20.md",
  "x-hea-fhir-resources": [
    "Coverage",
    "CoverageEligibilityRequest",
    "CoverageEligibilityResponse",
    "InsurancePlan"
  ],
  "x-hea-data-objects": [
    "DO-14",
    "DO-15",
    "DO-17"
  ],
  "x-hea-file": "04_architecture-repository/05_building-blocks/sbb/legacy-profiles/pt-20.md"
}